<section id="branches" class="branches" name="Branches">
  <h2>Branches</h2>
  <div class="phoneBanner">
    <a href="tel:08007797113">
      <div>
        <p>Hire and Sale Branches Freephone:</p>
        <span>0800 779 7113</span>
      </div>
    </a>
  </div>
  <div class="branchesBox">
    <div class="branch-item">
      <input type="checkbox" id="branch-birmingam-west" />
      <label for="branch-birmingam-west">
        <h3>Birmingham (West)</h3>
      </label>
      <div class="addressDetails">
        <p>Trinity Street Off Tat Bank Road,</p>
        <p>Oldbury, West Midlands, B69 4LA</p>
        <p class="branch-phone">T: <a href="tel:01215443355">0121 544 3355</a> F: 0121 544 3131</p>
        <p class="branch-email">E: <a href="mailto:birmingham@generationuk.co.uk">birmingham@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-birmingam-east" />
      <label for="branch-birmingam-east">
        <h3>Birmingham (East)</h3>
      </label>
      <div class="addressDetails">
        <p>87-93 Amington Road,</p>
        <p>Birmingham, West Midlands, B25 8ETT</p>
        <p class="branch-phone">T: <a href="tel:01217060000">0121 706 0000</a> F: 0121 706 9832</p>
        <p class="branch-email">E: <a href="mailto:birminghameast@generationuk.co.uk">birminghameast@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-bristol" />
      <label for="branch-bristol">
        <h3>Bristol</h3>
      </label>
      <div class="addressDetails">
        <p>Unit 7, 12-16 Foundry Lane, Fishponds,</p>
        <p>Bristol, BS5 7UE</p>
        <p class="branch-phone">T: <a href="tel:01179724550">0117 972 4550</a> F: 0117 972 4502</p>
        <p class="branch-email">E: <a href="mailto:bristol@generationuk.co.uk">bristol@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-cardiff" />
      <label for="branch-cardiff">
        <h3>Cardiff</h3>
      </label>
      <div class="addressDetails">
        <p>Martin Road, Tremorfa Industrial Estate,</p>
        <p>Cardiff, CF24 5SD</p>
        <p class="branch-phone">T: <a href="tel:02920463835">029 2046 3835</a> F: 029 2046 3246</p>
        <p class="branch-email">E: <a href="mailto:cardiff@generationuk.co.uk">cardiff@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-edinburgh" />
      <label for="branch-edinburgh">
        <h3>Edinburgh</h3>
      </label>
      <div class="addressDetails">
        <p>4 Westerton Road,</p>
        <p>East Mains Industrial Estate, Broxburn,</p>
        <p>West Lothian, EH52 5AU</p>
        <p class="branch-phone">T: <a href="tel:01506863864">01506 863 864</a> F: 01506 863 916</p>
        <p class="branch-email">E: <a href="mailto:edinburgh@generationuk.co.uk">edinburgh@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-frimley" />
      <label for="branch-frimley">
        <h3>Frimley (West London)</h3>
      </label>
      <div class="addressDetails">
        <p>22-30 Sturt Road, Frimley Green</p>
        <p>Camberley, GU16 6HY</p>
        <p class="branch-phone">T: <a href="tel:01252838696">01252 838 696</a>
          F: 01252 837 614</p>
        <p class="branch-email">E: <a href="mailto:frimley@generationuk.co.uk">frimley@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-gateshead" />
      <label for="branch-gateshead">
        <h3>Gateshead</h3>
      </label>
      <div class="addressDetails">
        <p>Stoneygate Lane, Abbotsford Road,</p>
        <p>Felling, Gateshead, NE10 0EX</p>
        <p class="branch-phone">T: <a href="tel:01914697504">0191 469 7504</a>
          F: 0191 469 8237</p>
        <p class="branch-email">E: <a href="mailto:gateshead@generationuk.co.uk">gateshead@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-glasgow" />
      <label for="branch-glasgow">
        <h3>Glasgow</h3>
      </label>
      <div class="addressDetails">
        <p>Duchess Road, Rutherglen</p>
        <p>Glasgow, G73 1AU</p>
        <p class="branch-phone">T: <a href="tel:01416476969">0141 647 6969</a>
          F: 0141 647 5851</p>
        <p class="branch-email">E: <a href="mailto:glasgow@generationuk.co.uk">glasgow@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-grays" />
      <label for="branch-grays">
        <h3>Grays</h3>
      </label>
      <div class="addressDetails">
        <p>Europa Business Park, Magnet Road,</p>
        <p>Grays, Essex, RM20 4DB</p>
        <p class="branch-phone">T: <a href="tel:01375312120">01375 312 120</a>
          F: 01375 386 844</p>
        <p class="branch-email">E: <a href="mailto:grays@generationuk.co.uk">grays@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-leeds" />
      <label for="branch-leeds">
        <h3>Leeds</h3>
      </label>
      <div class="addressDetails">
        <p>Unit 2 Ledger Park, Haigh Park Road,</p>
        <p>Stourton, Leeds LS10 1RT</p>
        <p class="branch-phone">T: <a href="tel:01132778822">0113 277 8822</a>
          F: 0113 277 7545</p>
        <p class="branch-email">E: <a href="mailto:leeds@generationuk.co.uk">leeds@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-london-east" />
      <label for="branch-london-east">
        <h3>London (East)</h3>
      </label>
      <div class="addressDetails">
        <p>Unit H, Hangman’s Wood Ind Park,</p>
        <p>Stifford Road, South Ockendon,</p>
        <p>Essex, RM15 6RL</p>
        <p class="branch-phone">T: <a href="tel:02074736056">020 7473 6056</a>
          F: 01708 858 493</p>
        <p class="branch-email">E: <a href="mailto:london@generationuk.co.uk">london@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-newcastle" />
      <label for="branch-newcastle">
        <h3>Newcastle</h3>
      </label>
      <div class="addressDetails">
        <p>Forward House, Portobello Road</p>
        <p>Portobello Industrial Estate, Birtley,</p>
        <p>Tyne and Wear, DH3 2SN</p>
        <p class="branch-phone">T: <a href="tel:01914921190">0191 492 1190</a>
          F: 0191 411 1148</p>
        <p class="branch-email">E: <a href="mailto:newcastle@generationuk.co.uk">newcastle@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-northampton" />
      <label for="branch-orthampton">
        <h3>Northampton</h3>
      </label>
      <div class="addressDetails">
        <p>Kingsﬁeld Way, Dallington,</p>
        <p>Northampton, NN5 7QN</p>
        <p class="branch-phone">T: <a href="tel:01604580444">01604 580 444</a>
          F: 01604 580 487</p>
        <p class="branch-email">E: <a href="mailto:northampton@generationuk.co.uk">northampton@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-salsburgh" />
      <label for="branch-salsburgh">
        <h3>Salsburgh</h3>
      </label>
      <div class="addressDetails">
        <p>Duntilland Road, Shotts, Salsburgh,</p>
        <p>North Lanarkshire, ML7 4NZ</p>
        <p class="branch-phone">T: <a href="tel:01698870200">01698 870 200</a>
          F: 01698 870 159</p>
        <p class="branch-email">E: <a href="mailto:salsburgh@generationuk.co.uk">salsburgh@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-stockport" />
      <label for="branch-stockport">
        <h3>Stockport</h3>
      </label>
      <div class="addressDetails">
        <p>Unit 4 Vauxhall Industrial Estate,</p>
        <p>Greg Street, Reddish,</p>
        <p>Stockport, SK5 7BR</p>
        <p class="branch-phone">T: <a href="tel:01614770131">0161 477 0131</a>
          F: 0161 477 7618</p>
        <p class="branch-email">E: <a href="mailto:stockport@generationuk.co.uk">stockport@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-west-thurrock" />
      <label for="branch-west-thurrock">
        <h3>West Thurrock (East London)</h3>
      </label>
      <div class="addressDetails">
        <p>4 Riverside Ind. Park, Oliver Road,</p>
        <p>West Thurrock, RM20 3ED</p>
        <p class="branch-phone">T: <a href="tel:02074764760">020 7476 4760</a>
          F: 020 7476 3157</p>
        <p class="branch-email">E: <a href="mailto:westthurrock@generationuk.co.uk">westthurrock@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-widnes" />
      <label for="branch-widnes">
        <h3>Widnes</h3>
      </label>
      <div class="addressDetails">
        <p>Pitt Street, West Bank, Widnes,</p>
        <p>Cheshire, WA8 0TG</p>
        <p class="branch-phone">T: <a href="tel:01514203331">0151 420 3331</a>
          F: 0151 495 2298</p>
        <p class="branch-email">E: <a href="mailto:widnes@generationuk.co.uk">widnes@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-altrad" />
      <label for="branch-altrad">
        <h3>Altrad Training Services</h3>
      </label>
      <div class="addressDetails">
        <p>Unit 20B Greens Industrial Park,</p>
        <p>Calder Vale Road, Wakeﬁeld, WF1 5PH</p>
        <p class="branch-phone">T: <a href="tel:01924370640">01924 370 640</a>
        <p class="branch-phone">T: <a href="tel:08005875224">0800 587 5224 </a>
        <p class="branch-email">E: <a href="mailto:training@altraduk.co.uk">training@altraduk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-export" />
      <label for="branch-export">
        <h3>Generation Export</h3>
      </label>
      <div class="addressDetails">
        <p>Trinity Street, Off Tat Bank Road</p>
        <p>Oldbury, West Midlands, B69 4LA</p>
        <p class="branch-phone">T: <a href="tel:+441215432964">+44 (0) 121 543 2964</a>
        <p class="branch-email">E: <a href="mailto:export@generationuk.co.uk">export@generationuk.co.uk</a></p>
      </div>
    </div>
    <div class="branch-item">
      <input type="checkbox" id="branch-head-office" />
      <label for="branch-head-office">
        <h3>Generation UK Head Ofﬁce</h3>
      </label>
      <div class="addressDetails">
        <p>Trinity Street, Off Tat Bank Road</p>
        <p>Oldbury, West Midlands, B69 4LA</p>
        <p class="branch-phone">T: <a href="tel:01215432950">0121 543 2950</a>
          F: 0121 543 2953</p>
        <p class="branch-email">E: <a href="mailto:enquiries@generationuk.co.uk">enquiries@generationuk.co.uk</a></p>
      </div>
    </div>
  </div>
</section>
